run = "bash start.sh"
entrypoint = "start.sh"

[env]
NODE_ENV = "production"
PORT = "5000"

[deployment]
run = ["bash", "start.sh"]
deploymentTarget = "gce"
build = ["echo", "ready"]

[[ports]]
localPort = 5000
externalPort = 80
